<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center">The list of users</h1>
      </div>
    </div>
    <div class="row">
      <user-card v-for="user of users" v-bind:user="user" :key="user.id"/>
    </div>
  </div>
</template>

<script>
  import UserCard from './UserCard.vue'
  import axios from 'axios'

  export default {
    name: "user-list",
    components: {
      UserCard,
    },
    data() {
      return {
        users: [],
      }
    },
    async created() {
      const {data} = await axios.get('http://localhost:3000/users')
      this.users = data
    },
  }
</script>

<style scoped>
  h2 {
    color: #f0ad4e;
  }
</style>