<template>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow" v-on:click="editUser" style="width: 18rem;">
      <img class="card-img-top" v-bind:src="user.picture" v-bind:alt="user.fullName">
      <div class="card-body">
        <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>
        <h6 class="card-subtitle mb-2 text-muted text-center">Age: {{user.age}}</h6>
        <h6 class="card-subtitle mb-2 text-muted text-center">Phone: {{user.phone}}</h6>
        <p class="card-text text-truncate">{{user.about}}</p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "user-card",
    props: {
      user: {
        type: Object,
        required: true
      }
    },
    methods: {
      editUser() {
        this.$router.push({path: `/users/${this.user.id}`})
      }
    },
  }
</script>

<style scoped>
.card-img-top {
  height: 200px
}
.card {
  cursor: pointer
}
</style>