<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Edit user {{fullName}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <form v-on:submit.prevent="onSubmit">
          <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" id="firstName" class="form-control" v-bind:value="user.firstName" />
          </div>
          <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" id="lastName" class="form-control" v-bind:value="user.lastName" />
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isActive">
            <label class="form-check-label" for="isActive">Is Active</label>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: "user-edit",
    data() {
      return {
        user: {}
      }
    },
    computed: {
      userID() {
        return this.$route.params.userID
      },
      fullName() {
        return `${this.user.firstName} ${this.user.lastName}`
      }
    },
    async created() {
      const {userID} = this.$route.params
      const {data} = await axios.get(`http://localhost:3000/users/${userID}`)
      this.user = data
    },
    methods: {
      async onSubmit(e) {
        const {firstName, lastName, isActive} = e.target.elements
        const payload = {
          firstName: firstName.value,
          lastName: lastName.value,
          isActive: isActive.value,
        }

        const response = await axios.put(`http://localhost:3000/users/${this.userID}`, payload)
        console.log('response', response)
      }
    }
  }
</script>

<style scoped>

</style>